header
{
	background-color:yellow;
	width: 100%;
	padding: 50px;
	color: green;
	text-align:center;
	font-family: "Times New Roman";
	font-size:70px;
}

li a {
    display: block;
    color: black;
    padding: 20px 20px;
    text-decoration: none;
}

li a:hover
{
	background-color:yellow;
	text-decoration: underline;
}
ul.myMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 150px;
    background-color: red;
}
body
{
background-color:linen;
}