<!DOCTYPE html>
<html>
<head>
	<title>Online bookshop</title>
	<link rel="stylesheet" type="text/css" href="/assets/index.css">
		<meta charset="UTF-8">
		<meta name="description" content="books">
		<meta name="keywords" content="books, literature,buy">
		<meta name="author" content="Olga Kravchuk">
</head>

<body>
<header class = "myHeader">Books<br>
	<h4><%= user %><a href="/login" class = "lnk">Log in</a><a href="/catalog" class = "lnk">Catalog</a><a href="" class = "lnk">Link</a><a href="" class = "lnk">Link</a>
</header>
<table>
	<% for(var i = 0;i< catalog.length;++i){ %>
		<tr> <td><%= catalog[i].name %></td>
			 <td><%= catalog[i].description %></td>
			 <td><%= catalog[i].img %></td></tr>
	<% } %>
</table>
</body>
</html>
