<!DOCTYPE html>
<html>
<head>
	<title>Online bookshop</title>
	<link rel="stylesheet" type="text/css" href="/assets/index.css">
		<meta charset="UTF-8">
		<meta name="description" content="books">
		<meta name="keywords" content="books, literature,buy">
		<meta name="author" content="Olga Kravchuk">
</head>

<body>
<header class = "myHeader">Books<br>
	<h4><%= user %>
	<a href="/" class = "lnk">Main</a>
	<a href="/login" class = "lnk">Log in</a>
	<a href="/catalog" class = "lnk">Catalog</a>
	<a href="/buy" class = "lnk">My orders</a>
</header>
<div class="allForms">
<div class="login">
	<h1>
		<%= message %>
	</h1>
	<h2>Log in</h2>
	<form action="/login" method="post">
		<h3>Enter your login</h3>
		<input class = "inputField" name = "username"/>
		<h3>Enter your password</h3>
		<input class = "inputField" name = "password" type="password"/>
		<button class = "button">ok</button>
	</form>
		</div>
	<div class="register">
	<h2>Register</h2>
	<h1>
	<%= registerMessage %>
	</h1>
	<form action="/register" method="post">
		<h3>Choose your login</h3>
		<input class = "inputField" name = "newUser"/>
		<h3>Choose your password</h3>
		<input class = "inputField" name = "newPassword" type="password"/>
		<button class = "button">ok</button>
	</form>
	</div>

</div>
<footer class = "Footer" style="bottom:0px">by Olya Olga</footer>
</body>
</html>
