<!DOCTYPE html>
<html>
<head>
	<title>Online bookshop</title>
	<link rel="stylesheet" type="text/css" href="/assets/index.css">
		<meta charset="UTF-8">
		<meta name="description" content="books">
		<meta name="keywords" content="books, literature,buy">
		<meta name="author" content="Olga Kravchuk">
</head>

<body>
<header class = "myHeader">Books<br>
	<h4><%= user %><a href="/login" class = "lnk">Log in</a><a href="/catalog" class = "lnk">Catalog</a><a href="" class = "lnk">Link</a><a href="" class = "lnk">Link</a>
</header>
	<h1>
		<%= message %>
	</h1>
	Log in
	<form action="/login" method="post">
		<input class = "inputField" name = "username"/>
		<input class = "inputField" name = "password" type="password"/>
		<button class = "button">ok</button>
	</form>
</body>
</html>
