<!DOCTYPE html>
<html>
<head>
	<title>Online bookshop</title>
	<link rel="stylesheet" type="text/css" href="/assets/index.css">
		<meta charset="UTF-8">
		<meta name="description" content="books">
		<meta name="keywords" content="books, literature,buy">
		<meta name="author" content="Olga Kravchuk">
</head>

<body>
<header class = "myHeader">Books<br>
	<h4><%= user %>
	<a href="/" class = "lnk">Main</a>
	<a href="/login" class = "lnk">Log in</a>
	<a href="/catalog" class = "lnk">Catalog</a>
	<a href="/buy" class = "lnk">My orders</a>
</header>
<p class = "Greetings">Welcome to online bookshop</p>
<footer class = "Footer" style="bottom:0px">by Olya Olga</footer>
</body>
</html>
