<!DOCTYPE html>
<html>
<head>
	<title>Image filtering</title>
	<link rel="stylesheet" type="text/css" href="/assets/index.css">
</head>

<body>
<header class = "myHeader">Image filters<br>
	<h4><%= user %></h4>
	<a href="/" class = "lnk">Main</a>
	<a href="/login" class = "lnk">Log in</a>
	<a href="/filter" class = "lnk">Filter image</a>
</header>
<div>
<table class = "comicGreen">
	<tr> 
		<th> Task Id</th> 
		 <th> Username</th> 
		 <th> ServerId </th> 
	</tr>
	<% for(var i = 0;i< tasks.length;++i){ %>
		<tr>
		<td> <%=tasks[i].id%></td>			 
		<td> <%=tasks[i].username %></td>	
		<td> <%=tasks[i].server_id%></td>				
		</tr>
	<% } %>
</table>
</div>
<footer class = "Footer" style="bottom:0px">by Olya Olga</footer>
</body>
</html>