<!DOCTYPE html>
<html>
<head>
	<title>Online bookshop</title>
	<link rel="stylesheet" type="text/css" href="/assets/index.css">
		<meta charset="UTF-8">
		<meta name="author" content="Olga Kravchuk">
</head>

<body>
<header class = "myHeader">Books<br>
<h4><%= user %></h4>
	<a href="/" class = "lnk">Main page</a>
	<a href="/login" class = "lnk">Log in</a>
	<a href="/filter" class = "lnk">Filter image</a>
	<a href="/myFilteredImages" class = "lnk">History</a>

</header>
	<h1><%= message %></h1>
</body>
</html>
